# Search stocks

In [60]:
import pandas as pd
from pandas import DataFrame
import json
from pandas_datareader import data as pdr
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [61]:
ndx_quotes = ["AAPL", 
"ADBE", 
"ADI", 
"ADP", 
"ADSK", 
"AEP", 
"ALGN", 
"ALXN", 
"AMAT", 
"AMD", 
"AMGN", 
"AMZN", 
"ANSS", 
"ASML", 
"ATVI", 
"AVGO", 
"BIDU", 
"BIIB", 
"BKNG", 
"CDNS", 
"CDW", 
"CERN", 
"CHKP", 
"CHTR", 
"CMCSA", 
"COST", 
"CPRT", 
"CSCO", 
"CSX", 
"CTAS", 
"CTSH", 
"DLTR", 
"DOCU", 
"DXCM", 
"EA", 
"EBAY", 
"EXC", 
"FAST", 
"FB", 
"FISV", 
"FOX", 
"FOXA", 
"GILD", 
"GOOG", 
"GOOGL", 
"IDXX", 
"ILMN", 
"INCY", 
"INTC", 
"INTU", 
"ISRG", 
"JD", 
"KDP", 
"KHC", 
"KLAC", 
"LRCX", 
"LULU", 
"MAR", 
"MCHP", 
"MDLZ", 
"MELI", 
"MNST", 
"MRNA", 
"MRVL", 
"MSFT", 
"MTCH", 
"MU", 
"MXIM", 
"NFLX", 
"NTES", 
"NVDA", 
"NXPI", 
"OKTA", 
"ORLY", 
"PAYX", 
"PCAR", 
"PDD", 
"PEP", 
"PTON", 
"PYPL", 
"QCOM", 
"REGN", 
"ROST", 
"SBUX", 
"SGEN", 
"SIRI", 
"SNPS", 
"SPLK", 
"SWKS", 
"TCOM", 
"TEAM", 
"TMUS", 
"TSLA", 
"TXN", 
"VRSK", 
"VRSN", 
"VRTX", 
"WBA", 
"WDAY", 
"XEL", 
"XLNX", 
"ZM"]

ma_count = 21


data = pdr.get_data_yahoo(ndx_quotes, start="2020-01-01", end=dt.date.today())['Close']
data.tail()

Symbols,AAPL,ADBE,ADI,ADP,ADSK,AEP,ALGN,ALXN,AMAT,AMD,...,TSLA,TXN,VRSK,VRSN,VRTX,WBA,WDAY,XEL,XLNX,ZM
Date,,,,,,,,,,,,,,,,,,,,,
2021-06-15,129.639999,548.460022,167.619995,199.029999,276.760010,85.239998,600.049988,181.899994,138.639999,80.470001,...,599.359985,188.610001,172.570007,220.779999,188.970001,54.240002,231.809998,69.190002,127.040001,359.000000
2021-06-16,130.149994,543.330017,166.020004,197.229996,273.709991,84.400002,599.599976,180.550003,136.979996,80.110001,...,604.869995,187.729996,170.899994,218.800003,187.490005,53.310001,230.199997,67.760002,126.180000,361.829987
2021-06-17,131.789993,551.359985,166.220001,197.500000,276.339996,84.389999,613.330017,179.970001,137.320007,84.559998,...,616.599976,187.649994,172.990005,223.259995,188.360001,52.810001,235.039993,68.349998,132.339996,372.950012
2021-06-18,130.460007,565.590027,162.190002,192.899994,277.980011,82.349998,601.640015,180.690002,131.229996,84.650002,...,623.309998,183.070007,171.089996,223.169998,187.850006,50.840000,236.490005,66.599998,131.919998,374.239990
2021-06-21,132.014999,567.484985,163.889999,196.580002,283.019989,83.355003,610.450012,180.649994,132.970001,82.449997,...,622.250000,186.100006,174.770004,224.490005,188.039993,51.915001,236.419998,67.290001,127.389999,369.399994

In [72]:
ma = data.rolling(window=ma_count).mean()
ma_pers = data.div(ma).mul(100).sub(100)
#ma_pers.iloc[[-1]]
ma_pers_r=ma_pers.iloc[::-1]
d = {}
df_prep = []
for col_name in ma_pers_r.columns:
    d[col_name]=0
    for index, row in ma_pers_r.iterrows():
        if row[col_name] > 0:
            d[col_name] += 1
        else:
            if d[col_name] != 0:
               df_prep.append([col_name, d[col_name], ma_count, "daily"]) 
            break
df = DataFrame(df_prep,columns=['name','count','ma_size', 'ma_type']).sort_values('count', ascending=False)
print(df['count'][df['count'] >= 10].size)
lead_comps_df = df[df['count'] >= 10]
lead_comps = lead_comps_df['name'].values.tolist()

28